body{
    background-image: url("bg.jpg");
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 100vh; 
    margin-left: 10px; 
}
.container {
    width: 90%;
    max-width: 500px;
    height: auto;
    border: 2px solid white;
    backdrop-filter: blur(15px);
}
h1
{
    text-align: center;
    color: whitesmoke;
}
input
{
    font-size:15px;
}
label
{
    font-size: 20px;
    color: white;
}
button
{
    text-align: center;
    margin-left:200px;
    size: 20px;
    border-radius:10%;
}
li
{
    color:whitesmoke;
    font-size: 25px;
}